@mixin body-9-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-8-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-7-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 34px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-6-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-5-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-4-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-3-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-2-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-1-regular {
  font-family: Noto Sans TC;
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@mixin body-9-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-8-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-7-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 34px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-6-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-5-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-4-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-3-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-2-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
@mixin body-1-bold {
  font-family: Noto Sans TC;
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0%;
  vertical-align: middle;
}
