@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

:root {
  --color-gradient-01: linear-gradient(90.51deg, #868686 1.54%, #5c5c5c 101.46%);
  --color-gray-100: #ffffff;
  --color-gray-500: #cccccc;
  --color-gray-700: #999999;
  --color-gray-800: #808080;
  --color-gray-1000: #4d4d4d;
  --color-orange-700: #ee8927;
}

:root,
[data-theme="light"] {
  --color-theme-bg-base: var(--color-gradient-01);
  --color-theme-bg: var(--color-gray-100);

  --color-theme-title: var(--color-gray-1000);
  --color-theme-subtitle: var(--color-gray-800);
  --color-theme-desc: var(--color-gray-1000);
  --color-theme-info: var(--color-orange-700);
  --color-theme-btnText: var(--color-gray-100);

  --color-theme-btn: var(--color-gray-700);

  --color-theme-border: var(--color-gray-500);
}

@theme inline {
  --background-image-theme-bg-base: var(--color-theme-bg-base);
  --color-theme-bg: var(--color-theme-bg);

  --color-theme-title: var(--color-theme-title);
  --color-theme-subtitle: var(--color-theme-subtitle);
  --color-theme-desc: var(--color-theme-desc);
  --color-theme-info: var(--color-theme-info);
  --color-theme-btnText: var(--color-theme-btnText);

  --color-theme-btn: var(--color-theme-btn);

  --color-theme-border: var(--color-theme-border);
}

@layer base {
  body {
    background: var(--color-theme-bg-base);
    color: var(--color-theme-desc);
    padding-bottom: 12px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-theme-title);
  }
}
