@use "@/css/breakpoints" as bp;

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

.heroImage {
  position: relative;
  background: url("/image/heroBg.jpg");
  background-size: auto 100%;

  width: 100%;
  aspect-ratio: 375 / 238;

  .heeloo {
    z-index: 3;
    position: absolute;
    top: 55.6%;
    left: 60.4%;
    width: 36.54%;
    animation: pulse 1.5s ease-in-out infinite;
  }

  @include bp.lg {
    aspect-ratio: 1440 / 823;
    .heeloo {
      top: 42.5%;
      left: 56.5%;
      width: 37.9%;
    }
  }
}

.manContainer {
  position: relative;
  height: 100%;
  aspect-ratio: 317 / 238;

  @include bp.lg {
    aspect-ratio: 1097 / 823;
  }

  .man {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
  }
  .manShadow {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
  }

  .leftEye {
    width: 3.5%;
    z-index: 1;
    position: absolute;
    top: 37.4%;
    left: 53%;
  }
  .rightEye {
    width: 3.5%;
    z-index: 1;
    position: absolute;
    top: 36.6%;
    left: 66.2%;
  }
}
