@import "tailwindcss";

:root {
  --color-bg-01: rgb(255, 255, 255);
  --color-text-01: var(--color-gray-1000);
  --color-text-02: var(--color-gray-800);
  --color-text-03: var(--color-orange-700);
  --color-btn-01: var(--color-gray-700);
}

[data-theme="light"] {
  --color-theme-bg: var(--color-bg-01);
  --color-theme-title: var(--color-text-01);
  --color-theme-subTitle: var(--color-text-02);
  --color-theme-desc: var(--color-text-01);
  --color-theme-link: var(--color-text-03);
  --color-theme-btn: var(--color-btn-01);
}

@theme inline {
  --color-theme-bg: var(--color-theme-bg);
  --color-theme-title: var(--color-theme-title);
  --color-theme-subTitle: var(--color-theme-subTitle);
  --color-theme-desc: var(--color-theme-desc);
  --color-theme-link: var(--color-theme-link);
  --color-theme-btn: var(--color-theme-btn);
}
