.jobList {
  position: relative;
  display: grid;
  gap: 10px;
  background: var(--color-theme-bg);
  border-width: 1px 0;
  border-color: 1px solid var(--color-border-01);
  box-shadow: 2px 2px 4px 0px #00000040;
  padding: 16px;
}

.title {
  > * {
    display: inline-block;
  }
  > div:nth-of-type(1) {
    width: 4px;
    height: 16px;
    margin-right: 12px;
    background: var(--color-theme-info);
    border-radius: 100px;
  }
}

.pagination {
  justify-self: center;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
}

.circularProgress {
  color: var(--color-theme-bg);
}
